<div class="submit">
  <div class="title">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Edit Recipe</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= render 'shared/new_recipe_form' %>
        </div>
      </div>
    </div>
  </div>
</div>

